body {
  font-family: 'Noto Sans', sans-serif;
}

.title.publication-title {
  font-family: 'Google Sans', sans-serif;
  margin-top: 1.5rem;
}

.venue {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: #c53d52;
}

.publication-authors {
  margin-bottom: 0.5rem;
}

.author-block {
  display: inline-block;
  margin-right: 0.5rem;
}

.publication-links {
  margin-top: 1rem;
}

.link-block {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.teaser {
  margin-bottom: 2rem;
}

.button.is-disabled {
  pointer-events: none;
  opacity: 0.65;
}

.footer {
  padding-bottom: 3rem;
}
